EPA_FIREBASE_API_KEY=
EPA_FIREBASE_AUTH_DOMAIN=
EPA_FIREBASE_PROJECT_ID=
EPA_FIREBASE_STORAGE_BUCKET=
EPA_FIREBASE_MESSAGING_SENDER_ID=
EPA_FIREBASE_APP_ID=
EPA_FIREBASE_APP_CHECK_SITE_KEY=
EPA_USE_FIRESTORE=0
